.App {
  text-align: center;
}
body {
  background-color: honeydew;
}
.nav {
  background-color: grey;
  padding-top: 2%;
}
a {
  text-decoration: none;
  width: 15vw;
  height: 20vh;
  margin: 5%;
  color: white;
}
ul {
  list-style-type: none;
}
.loginForm,
.newFriendForm {
  margin: 15%;
}
input {
  margin: 2%;
}
.flcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.friend {
  width: 30%;
  border: 4px inset black;
  background-color: gainsboro;
  margin: 1%;
}
button {
  background-color: black;
  border: 3px inset;
  color: white;
  margin-bottom: 2%;
}
button:hover {
  border: 3px inset black;
  color: white;
}